**.InstallLog
**.Publish.xml
**.log
**.publish.xml
**.suo
**.user
*.DS_Store
*.dat
*.favdoc
*.nupkg
*.orig
*.pdb
*.swp
*.userprefs
*.sqlite
*.sqllite
*Debug.config
.vs/
.vscode
/TestResults
/TestResults/*.mdf
_NCrunch_**
_ReSharper**
bin/
nCrunchTemp_**
obj/
packages/
shared-local-instance.db
~/
src/.idea/
